body {
  font-family: Arial, Helvetica, sans-serif;
}

#container {
  /* padding-top: 6%; */
  height: 500px;
  width: 89%;
  /* border: 2px solid green; */
  /* margin-top: -4.7rem; */
  margin-left: 10%;
}

#leftbox {
  width: 18%;
  font-size: 16px;
  /* padding-top: 10%; */
  /* overflow:hidden; */

  overflow-y: scroll;

  scrollbar-width: thin;

  margin-top: 7%;
  margin-right: 9%;
  /* border: 1px solid red; */
  height: 80%;
  line-height: 1.5rem;
}

#leftbox p,
#leftbox span {
  padding-right: 10px;
  color: grey;
  text-align: justify;
}

#leftbox::-webkit-scrollbar {
  width: 2px; /* width of the entire scrollbar */
}

#leftbox::-webkit-scrollbar-track {
  background: white; /* color of the tracking area */
}

#leftbox::-webkit-scrollbar-thumb {
  background-color: black; /* color of the scroll thumb */
  border-radius: 1px; /* roundness of the scroll thumb */
  border: 1px solid black; /* creates padding around scroll thumb */
}

#rightbox {
  display: flex;
  width: 60%;
  /* border: 1px solid red; */
  height: 100%;
  font-weight: bold;
  box-shadow: none;
}

img {
  height: 100%;
}

#container {
  display: flex;
  /* border: 1px solid red; */
}

select {
  border-style: none;
}

#rightbox > div + div {
  /* border: 1px solid green; */
  margin-left: 12%;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
}

#rightbox > div + div * {
  padding: 3%;
}

button {
  background-color: black;
  color: white;
  padding: 5%;
  font-size: medium;
}

.striked {
  text-decoration: line-through;
  color: black;
}

.realprice {
  padding: 5px;
  width: fit-content;
  background-color: yellow;
  color: black;
  font-weight: bold;
}

.head {
  font-size: 1rem;
  font-weight: normal;
}

#MayBeYou {
  width: 100%;
  height: 600px;
  /* border: 2px solid red; */
  margin-top: -40%;
}

/* May Be You Like */
#you-may-also-like-it {
  height: 90%;
  width: 100%;
  /* border: 2px solid red; */
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  overflow-x: scroll;
  gap: 40px;
}

#you-may-also-like-it > div {
  width: 300px;
  height: 60%;
}

#you-may-also-like-it > div > img {
  width: 100%;
}

.mayBe {
  height: 60px;
}
