.menuOpacity {
  animation: opac 0.8s
}

@keyframes opac {
  from {
      opacity: 0
  }
  to {
      opacity: 1
  }
}
#menuModal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
}
