.searchbar {
    margin-top: 1.6em;
    width: 40%;
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(8, 8, 8);
    padding: 0.2em 0em;
    
    margin-left:-650px ;
background: none;
  }
.head {
    margin-right: 1000px;
    margin-top: -120px;

}
.help {

    background-Image: url('https://static.zara.net/photos///contents/mkt/spots/ss23-help-customer/subhome-xmedia-10-north//w/1839/IMAGE-landscape-web-27470945-8c31-433a-9eaf-392114b6a91d-default_0.jpg?ts=1682518360676');
    
      background-Repeat: no-repeat;
      min-Height: 100vh;
      display: flex ;
   
      flex-Direction: column;
      align-Items: center;
      justify-Content: center;
      margin-Top : "10px"
}